.Card {
  /* display: inline-block; */
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.CardInner {
  width: 300px;
  /* height: 420px; */
  max-width: 100%;
  /* max-height: 100%; */
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
  border: 1px solid #193D49;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.CardFront {
  font-size: 30px;
  padding-top: 45px;
  transform: rotateY(180deg);
}

.CardFront,
.CardBack {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.CardInner.flipped {
  transform: rotateY(180deg);
}