.Dashboard{
  padding-top: 50px;
  margin: auto;
  width: 30%;
  min-width: 400px;
  text-align: center;
}

Link {
  text-decoration: none;
}

.Players {
  margin-top: 50px;
}

.PlayerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.LoveLetterToken{
  width: 50px;
  height: 100%;
  padding-top: 20px;
  border-radius: none;
  box-shadow: none;
}